<!-- Start table -->
<div class="flex flex-col w-full items-center px-10">
  <h2 class="text-start w-full text-xl font-semibold">My table</h2>
  <div class="relative w-8/12 overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-300">
        <tr>
          <th scope="col" class="px-6 py-3">First name</th>
          <th scope="col" class="px-6 py-3">last name</th>
        </tr>
      </thead>
      <tbody class="bg-gray-100">
        <tr class="border-b">
          <td class="px-6 py-4">Silver</td>
          <td class="px-6 py-4">Laptop</td>
        </tr>
        <tr class="border-b">
          <td class="px-6 py-4">Silver</td>
          <td class="px-6 py-4">Laptop</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- End table -->
